node_modules
/dist
app/vendor
.DS_Store
.sass-cache
Petron-linux-armv7l
release
npm-debug.log
.tags*
app/mapbox
app/tiles
coverage
navigation/germany.mbtiles
.ftpconfig
/librespot
/settings
/cache
spotify_appkey.key
