<ul class="c--filetree__list" ng-if="files">
	<li ng-if="parent.parent" hm-tap="openParent(parent)">
		<div class="columns is-vcentered">
			<div class="column is-narrow is-paddingless">
				<figure class="image is-32x32">
					<span class="icon is-medium" >
						<i class="fa icon-folder"></i>
					</span>
				</figure>
			</div>
			<div class="column c--filetree__name">
				<div class="columns">
					<div class="column">
						..
					</div>
				</div>
			</div>
		</div>
	</li>
	<li ng-repeat="file in files | orderBy:[orderFunc, ((type !== 'playlist') ? 'name' : '')]" ng-click="open(file, $index)" hm-press="popout" hm-tap="open(file, $index)" hm-recognizer-options='[{"type": "press", "time": 500}]' ng-class="{'is-active': file.play && type === 'playlist'}">
		<div class="columns is-vcentered">
			<div class="column is-narrow is-paddingless">
				<figure class="image is-32x32">
				  <img ng-src="{{ 'data:image/' + file.image_type + ';base64,' + file.image }}" alt="" ng-if="file.image">
					<span class="icon is-medium" ng-if="!file.image">
						<i class="fa" ng-class="{'icon-folder': file.type === 'folder', 'icon-video-outline': (file.type !== 'folder' && file.type !== 'playlist' && (type == 'video' ||  type == 'playlist')), 'icon-playlist': file.type === 'playlist', 'icon-notes': file.type !== 'folder' && file.type !== 'playlist' && (type == 'audio' || type == 'playlist') }"></i>
					</span>
				</figure>
			</div>
			<div class="column c--filetree__name">
				<div class="columns">
					<div class="column">
						{{ file.artist || file.name }}
					</div>
				</div>
				<div class="columns c--filetree__title" ng-if="file.title">
					<div class="column">
						{{ file.title }} {{ (file.album) ? '- ' + file.album : '' }}
					</div>
				</div>
			</div>
			<div class="column is-narrow has-text-right c--filetree__meta" ng-if="file.type !== 'folder' && type === 'video'">
				<span> {{ file.duration | buildTime:true }}</span>
			</div>
			<div class="column is-narrow has-text-right c--filetree__meta" ng-if="file.type !== 'folder' && type === 'video'">
				<span class="meta__hd" ng-class="{'is-HD': file.hd}">HD</span>
			</div>
		</div>
	</li>
</ul>
