<ul ng-if="files">
	<li ng-repeat="file in files">
		<span ng-click="open(file)" class="is-vcentered">
			<span class="icon">
				<i class="fa" ng-class="{'icon-folder': file.type === 'folder', 'icon-video-outline': (file.type !== 'folder' && file.type !== 'playlist'), 'icon-playlist': file.type === 'playlist'}"></i>
			</span>
			{{ file.name }}
		</span>
		<button ng-if="file.type !== 'folder' && file.type !== 'playlist'" class="button" ng-click="func.addToQueue(file)">{{ 'filetree.add_to_queue' | translate }}</button>
		<button ng-if="file.type !== 'folder' && file.type !== 'playlist'" class="button" ng-click="func.addToPlaylist(file)">{{ 'filetree.add_to_playlist' | translate }}</button>
		<petron-filetree files="file.childs" func="func" ng-show="file.show"></petron-filetree>
	</li>
	<li ng-if="!files || files.length < 1">
		<strong>{{ 'no_file' |translate }}</strong>
	</li>
</ul>
