<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Petron</title>

		<!-- bower:css -->
		<link rel="stylesheet" href="../app/vendor/ng-dialog/css/ngDialog.css" />
		<link rel="stylesheet" href="../app/vendor/ng-dialog/css/ngDialog-theme-default.css" />
		<link rel="stylesheet" href="../app/vendor/angular-rangeslider-directive/angular-range-slider.css" />
		<link rel="stylesheet" href="../app/vendor/leaflet/dist/leaflet.css" />
		<link rel="stylesheet" href="../app/vendor/mapbox-gl-js/mapbox-gl.css" />
		<link rel="stylesheet" href="../app/vendor/sweetalert/dist/sweetalert.css" />
		<!-- endbower -->

		<link rel="stylesheet" href="css/petron.css">
	</head>
	<body ng-app="petron" ng-cloak="" hm-panend="setVolume" hm-panstart="getVolume" hm-pan="volumeIndicator" hm-recognizer-options='[{"type":"pan","enable": true, "directions": "DIRECTION_VERTICAL"}]'>
		<div class="petron-wrap" ng-class="{'show-left-menu': $root.left_toggle, 'show-right-menu': $root.right_toggle, 'c--volume-indicator__blur': showVolumeIndicator}">
        <div class="menu-wrap is-left">
            <nav class="menu">
                <div class="nav-list">
                    <a ui-sref="petron.fmbox" ui-sref-active="is-active">
											<span class="icon"><i class="fa icon-radio"></i></span>
											<span>{{ 'radio_module' | translate }}</span>
										</a>
                    <a ui-sref="petron.audiobox" ui-sref-active="is-active">
											<span class="icon"><i class="fa icon-notes"></i></span>
											<span>{{ 'music_module' | translate }}</span>
										</a>
                    <a ui-sref="petron.videobox.main" ui-sref-active="is-active">
											<span class="icon"><i class="fa icon-video"></i></span>
											<span>{{ 'video_module' | translate }}</span>
										</a>
                    <a ui-sref="petron.navigationbox.main" ui-sref-active="is-active">
											<span class="icon"><i class="fa icon-location-arrow"></i></span>
											<span>{{ 'navigation_module' | translate }}</span>
										</a>
                    <a ui-sref="petron.healthbox" ui-sref-active="is-active">
											<span class="icon"><i class="fa icon-heart"></i></span>
											<span>{{ 'health_module' | translate }}</span>
										</a>
                    <a ui-sref="petron.settingsbox" ui-sref-active="is-active">
											<span class="icon"><i class="fa icon-cog"></i></span>
											<span>{{ 'settings_module' | translate }}</span>
										</a>
                </div>
            </nav>
            <span class="icon is-medium close-button" ng-click="$root.left_toggle = false;">
					<i class="fa icon-times"></i>
				</span>
        </div>
        <div class="container" ui-view>

        </div>
				<div class="menu-wrap is-right" ng-if="rightMenuShow">
          <nav class="menu">
              <div class="nav-list" ui-view="right-menu">
              </div>
          </nav>
          <span class="icon is-medium close-button" ng-click="$root.right_toggle = false;">
			      <i class="fa icon-times"></i>
  				</span>
        </div>
    </div>
    <petron-daemon ng-if="$root.daemon.active" petron-draggable></petron-daemon>
    <petron-keyboard layout="{{ settings.keyboard }}"></petron-keyboard>
		<petron-volume-indicator></petron-volume-indicator>
		<script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>

		<!-- bower:js -->
		<script src="../app/vendor/jquery/jquery.js"></script>
		<script src="../app/vendor/angular/angular.js"></script>
		<script src="../app/vendor/angular-ui-router/release/angular-ui-router.js"></script>
		<script src="../app/vendor/angular-electron/angular-electron.js"></script>
		<script src="../app/vendor/angular-sanitize/angular-sanitize.js"></script>
		<script src="../app/vendor/angular-translate/angular-translate.js"></script>
		<script src="../app/vendor/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
		<script src="../app/vendor/ng-dialog/js/ngDialog.js"></script>
		<script src="../app/vendor/messageformat/messageformat.js"></script>
		<script src="../app/vendor/angular-translate-interpolation-messageformat/angular-translate-interpolation-messageformat.js"></script>
		<script src="../app/vendor/async/dist/async.js"></script>
		<script src="../app/vendor/angular-rangeslider-directive/src/angular-range-slider.js"></script>
		<script src="../app/vendor/hammerjs/hammer.js"></script>
		<script src="../app/vendor/AngularHammer/angular.hammer.js"></script>
		<script src="../app/vendor/hammer-time/hammer-time.js"></script>
		<script src="../app/vendor/angular-simple-logger/dist/angular-simple-logger.js"></script>
		<script src="../app/vendor/leaflet/dist/leaflet-src.js"></script>
		<script src="../app/vendor/ui-leaflet/dist/ui-leaflet.js"></script>
		<script src="../app/vendor/mapbox-gl-js/mapbox-gl.js"></script>
		<script src="../app/vendor/mapbox-gl-leaflet/leaflet-mapbox-gl.js"></script>
		<script src="../app/vendor/sprintf/src/sprintf.js"></script>
		<script src="../app/vendor/angular-translate-loader-partial/angular-translate-loader-partial.js"></script>
		<script src="../app/vendor/polyline/src/polyline.js"></script>
		<script src="../app/vendor/angular-dynamic-locale/src/tmhDynamicLocale.js"></script>
		<script src="../app/vendor/sweetalert/dist/sweetalert.min.js"></script>
		<script src="../app/vendor/ngSweetAlert/SweetAlert.js"></script>
		<!-- endbower -->

		<!-- build:script petron -->
		<!-- /build -->

		<script>if (window.module) module = window.module;</script>
	</body>
</html>
