input[type=range] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
	position: relative;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 3px solid $highlight;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: $white;
  cursor: pointer;
  margin-top: -5px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  box-shadow: none; /* Add cool effects to your sliders! */
	z-index: 999999;
	position: relative;
	display: inline-block;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  box-shadow: none;
  background: $white;
  border-radius: 6px;
  border: none;
	position: relative;
	z-index: 0;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: $white;
}

.c--audio__controls {

	button {
		background: transparent;
		border: none;
		color: $white;
  	font-size: 20px;

		&:hover, &:focus {
			color: $primary;
		}

		&.is-active {
			color: $highlight;
		}

		&.c--audio__controls-l {
			font-size: 36px;
		  position: relative;
		  top: -4px;
		}

		&.c--audio__controls-xl {
			font-size: 74px;
	    position: relative;
	    top: -22px;
	    width: 60px;
		}
	}

}

.c--audio__main {
	padding: 0 10px;
}

.c--audio__title, .c--audio__title .title, .c--audio__title .subtitle {
	white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.c--audio__title .title {
	line-height: 1.2;
}

.c--audio__title .subtitle {
	font-weight: 500;
}

.c--audio__timetrack {
	margin-top: 10px;
}

.c--audio__time {
	font-weight: 200;
  margin-bottom: 0;
}

.c--audio__timetrack, .c--audio__time {
	.column {
		padding: 0 10px;
	}
}

.c--filetree {
	max-height: 100%;
	overflow-y: hidden;
}

.ngdialog.ngdialog-theme-default.c--audio__popout--theme {
  padding-bottom: 140px;
  padding-top: 40px;

  .ngdialog-content {
    background: $grey-darker;
    color: $white;
    width: 300px;
  }

  .c--audio__popout--playlists {
    margin-bottom: -20px;
    margin-top: -20px;

    ul {
      li {
        padding: 15px 0;
      }
    }
  }

  .c--audio__popout {
    color: $white;

    .c--audio__option {
      padding: 15px 10px
    }

    .c--audio__track {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      border-bottom: 1px solid $grey-dark;
      margin: 0  0 20px 0;

      .column {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      p {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 0;
        margin: 0;
        line-height: 1;
      }
    }

  }

}

.c--cover {
  width: 190px;
  height: 190px;
  margin: 0 auto;
  padding: 0 !important;
}

.c--audio__upnp {
  align-items: stretch;
  flex-direction: column;
  justify-content: space-between;
  display: flex;
}

.c--audio-upnp__message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  width: 60vw;
  text-align: center;
  font-size: 36px;
  z-index: 1000;
}

.c--audio-upnp__error {
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba($black, .65);
  z-index: 1000;
}
