<video class="c--video__player" autoplay ng-click="player.video.videoPlay()">
	<source ng-repeat="file in player.video.playlist" ng-if="player.video.playlist && file.play" ng-src="{{ file.path }}" type="video/{{ file.type}}">
</video>
<section class="c--video__controls">
	<button class="button" ng-click="player.video.daemonize()">
		<i class="icon-home"></i>
	</button>
	<button class="button" ng-click="player.video.videoPrev()">
		<i class="icon-media-rewind"></i>
	</button>
	<button class="button" ng-click="player.video.videoPlay()">
		<i class="icon-media-play" ng-if="player.video.showPlay"></i>
		<i class="icon-media-pause" ng-if="!player.video.showPlay"></i>
	</button>
	<button class="button" ng-click="player.video.videoNext()">
		<i class="icon-media-forward"></i>
	</button>
	<button class="button" ng-click="player.video.videoLoop()" ng-class="{'is-primary': player.video.controls.loop}">
		<i class="icon-loop"></i>
	</button>
	<button class="button" ng-click="player.video.videoShuffle()" ng-class="{'is-primary': player.video.controls.shuffle}">
		<i class="icon-shuffle"></i>
	</button>
	<button class="button" ng-click="player.video.videoRepeat()" ng-class="{'is-primary': player.video.controls.repeat}">
		<i class="icon-repeat"></i>
	</button>
	<input ng-model="player.video.controls.currentTime" ng-change="player.video.setTime()" type="range" min="0" max="{{ player.video.controls.duration }}" step="1" /> {{ player.video.controls.currentTime | buildTime }}
	<strong>{{ player.video.playlist[player.video.currentIndex].name }}</strong><br>
	<i class="icon-volume-down"></i>
	<input ng-model="player.video.controls.volume" ng-change="player.video.setVolume()" type="range" min="0" max="1" step="0.01" />
	<i class="icon-volume-up"></i>
</section>
<section class="c--video__playlist">
	<ul>
		<li ng-repeat="file in player.video.playlist" ng-click="player.video.playFile($index)">{{ file.name }}</li>
	</ul>
</section>
